
    
    
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
        <link href="static/css/font.css" rel="stylesheet" />

        
        <title>Summarization Completed!</title>

    </head>
    <body class = "my_gradient_1">
        <table border="1" cellpadding="10" align = "center" valign="middle" style="width:70%; height:auto;background-color:white; table-layout:fixed;">
        <th>원문</th>
        <th>요약문</th>
        <tr> <!--첫째 행-->	
           <td>
            <p>
            <img src="/static/images/pdf_image0.png" style="display: block; margin: 0 auto; width: 100%; height: auto;  padding: 10px 0px 30px 0px;"/>
            </p>
            </td>
            <td>
            <p> 인공지능의 학술적 연구는 크게 <mark> 지도 학습, 비지도 학습, 강화 학습 </mark> 등으로 분류가 되며, 머신 러닝과 딥러닝은 인공지능 연구의 핵심 기 술로 <mark> 대량의 데이터를 학습하여 패턴을 파악하고 예측하는 능력을 갖추고 </mark> 있으며, 딥러닝은 이미지 분류, 자연어 처리, 음성 인식 등 여러 분야에서  혁신을 이 끌고 있다.  

인공지능의 연구는 빠르게 진화하고 있 으며, 이에 따라 심층적인 이해와 새로운 알고리즘의 개발이 계속되고 있다.
  </p></td>
        </tr>
            <img src="static/images/writenowlogo.png" style="display: block; margin: 0 auto; width: 20%; height: auto; padding: 10px 0px 30px 0px;" />

    </body>
    </html>
    